<!DOCTYPE html>
<html>
<head>
	<script src="jquery.min.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="bower_components/codemirror/lib/codemirror.css">
	<script type="text/javascript" src="bower_components/codemirror/lib/codemirror.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular/angular-resource.min.js"></script>
	<script type="text/javascript" src="bower_components/angular-ui-codemirror/ui-codemirror.js"></script>
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<script type="text/javascript" src="bower_components/codemirror/mode/python/python.js"></script>
	<script type="text/javascript" src="bower_components/codemirror/mode/ruby/ruby.js"></script>
	<script type="text/javascript" src="bower_components/codemirror/mode/javascript/javascript.js"></script>
	<script type="text/javascript" src="bower_components/codemirror/mode/markdown/markdown.js"></script>
	<script src="popup.js"></script>
</head>
<body ng-app="gistApp" ng-csp>
	<div ng-controller="AppCtrl" style="width:400px; height:300px">
		<div class="form-group">
			<input placeholder="filename" type="text" name="filename" ng-model="filename" />
		</div>
		Language: <select ng-model="mode" ng-options="m for m in modes" ng-change="modeChanged()"></select>
		<div class="form-group">
			<input placeholder="description" type="text" style="width:98%" id="desc" ng-model="description" />
		</div>
		<ui-codemirror ui-codemirror-opts="editorOptions" ng-model="content"></ui-codemirror>
		<button class="btn btn-default" ng-click="savegist()">Create Gist</button>
		<div id='ref'><a href="{{url}}">{{url}}</a>
	</div>
</body>
</html>